*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    color:red
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;

}

img{
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}
body{
    background-color: rgb(0, 255, 136);
    background-image: url(./image/jp.jpg);
    
}
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
}
button{
    color: red;
    text-align: center;
    background-size: 50px;
    border-radius: 100px;
}
h1{
    text-align: end;
    border-radius: 100px;
    bottom: auto;
}
h3{
    bottom: 50px;
    text-shadow: red;
    border-color: seashell;
    border-style: ridge;
    background-color: tomato;
    border-left-color: yellow;
}
label{
    border-radius: 50px;
    text-decoration: white;
    background-color: white;
}
input{
    color: violet;
    border-radius: 50px;
    background-color: white;
}
div{
    height: auto;
    border-radius: 50px;
    float: inline-end;
    margin-block: 20px;
}